<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.jdbc.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.sharding.jdbc.bean.User" >
        <id column="id" property="id" />
        <result column="name" property="name"  />
        <result column="task_id" property="taskId" />
        <result column="call_month" property="callMonth"  />
    </resultMap>


    <insert id="save" parameterType="User">
        INSERT INTO t_user(id,name,task_id,call_month)
        VALUES
        (
        #{id},#{name},#{taskId},#{callMonth}
        )
    </insert>

    <select id="get"  resultMap="BaseResultMap">
    	select * from t_user where id = #{id}
    </select>


    <select id="pagingUser" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from t_user
        where task_id=#{task_id}
    </select>



</mapper>
